body{
	background-color:#F5F5F5;
}

aside{
	background-color: #F2C342;
	display:table-cell;
	height:100vh;
	position: fixed;
	width:30%;
}

aside img{
	display: block;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 10px;
	width:150px;
}

#join{
	text-align:center;
	background-color:#A4732A;
}

#join h3{
	color:#F2C342;
	padding:15px 0 15px 0;
	text-transform:uppercase;
}

section{
	display:table-cell;
	margin-left:30%;
	position:absolute;
	width:70%;
}

aside ul{
	margin-top:50px;
	padding-left:0;
}

aside ul li{
	list-style:none;
	margin-bottom:20px;
	text-align:center;
}

aside ul li a{
	color:#A4732A;
	text-decoration:none;
	text-transform:uppercase;

	&:hover{
		color:#77521d;
	}
}

#international-day-wrap a{
	text-decoration:none !important;
}

#international{
    background-image: url(../img/international.jpg);
    background-position: center;
    background-size: cover;
    color:#FFF;
    height:100vh;
    text-align: center;
    padding-bottom: 4em;
    text-shadow: 1px 1px 10px #333333;
}

#international h3{
	color:#FFF;
	font-size:3em;
	margin-top:0;
	margin-bottom:0;
}

#international time{
	color:#FFF;
	font-size:1.5em;
	font-weight:100;
}

#register{
	color:#895f23;
	background-color:#F2C342;
	display:table;
	margin:30px auto;
	padding:20px;
	font-weight:bold;
	text-shadow:none;
}

#register:hover{
	background-color:#d6aa3b;
}

@media (max-width: 690px) {
  aside{
  	display:block;
  	position:static;
  	width:100%;
  }
  #international-day-wrap{
  	width:100%;
  }
  #international{
  	display:block;
  	width:100%;
  }
  section{
  	margin-left:0;
  	width:100%;
  }

  #international img{
  	display:block;
  	margin:0 auto;
  	width:150px;
  }
  #international h3{
  	font-size:1.5em;
  }
  #internaional time{
	font-size:0.6em;
  }
}