doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    title Nodeschool MTY
    link(rel='stylesheet', href='bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='css/grid/grid.css')
    link(rel='stylesheet', href='css/style.css')
  body
    aside
      img(src="img/nodeschool-logo.png" alt="nodeschool MTY")
      #join
        h3 Nodeschool
      ul
        li  
          a(href="https://github.com/orgs/nodeschool/teams/mty" target="_blank") Miembros
        li  
          a(href="https://github.com/nodeschool/mty/blob/gh-pages/codigo-de-conducta.md" target="_blank") Código de conducta
        li  
          a(href="https://github.com/nodeschool/mty" target="_blank") GitHub
    section#international-day-wrap
      .container
        .row
          a(href="http://nodeschool.io/international-day" target="_blank")
            #international.slider
              img(src="img/international-day-logo.png" alt="nodeschool MTY")
              h3 International Day
              time Saturday, May 23, 2015
              a#register(href="https://ti.to/nodeschoolmty/international-day" target="_blank") Quiero asistir
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="bower_components/parallax/deploy/parallax.js")
    script(type="text/javascript", src="main.js")